@model EndSickness.Models.ViewModels.MedicineDosagesViewModel;

<div class="main_container">
    <section class="user_medicines">
        <h2>Your medicines</h2>
        @foreach (var item in Model.MedicineList.Medicines)
        {
            <div class="user_medicine">
                <div class="user_medicine_title">
                    @item.Name
                </div>
                <div class="user_medicine_actions">
                    <a href="/Medicine/Update/@item.Id" class="btn_update">
                        <img src="/img/icons8-edit-24.png">
                    </a>
                    <a href="/Medicine/Delete/@item.Id" class="btn_delete">
                        <img src="/img/icons8-remove-24.png">
                    </a>
                </div>
            </div>
        }
        <a href="/Medicine/Create" class="btn_add">
            <img src="/img/icons8-plus-24.png">
            <span>Add new medicine</span>
        </a>
    </section>
    <main class="user_dosages">
        <header>
            <h2>@Model.Medicine.Name dosage history</h2>
        </header>
        <div class="user_dosages_list">
            @foreach (var item in Model.MedicineLogsList.MedicineLogs)
            {
                <div class="user_dosage">
                    <div class="user_dosage_column">
                        <span>Taken at</span>
                        <span>@item.LastlyTaken</span>
                    </div>
                    <div class="user_dosage_column user_dosage_column_actions">
                        <a href="/Dosage/Delete/@item.Id" class="btn_delete">
                            <img src="/img/icons8-remove-24.png">
                        </a>
                    </div>
                </div>
            }
        </div>
    </main>
</div>